* {
  font-family: "Nunito", sans-serif;
}

:root {
  --color-orange: rgb(237, 100, 57);
  --padding-or-margin: 40px;
}

/*** 
    ======= BEM CLASSES FROM THE TEMPLATE ======= 
***/

.header {
  background-color: white;
  box-shadow: 0px 3px 10px #00000025;
  display: flex;
  height: 90px;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

.menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu--main {
  display: flex;
  line-height: 4.5rem;
  padding-right: var(--padding-or-margin);
  text-align: center;
}

.menu--item {
  border-bottom: 3px rgba(0, 0, 0, 0) solid;
  color: black;
  z-index: 1;
  height: 100%;
  margin-left: var(--padding-or-margin);
}

.menu--item:hover {
  border-bottom: 3px var(--color-orange) solid;
  color: var(--color-orange);
}

.menu--secondary {
  background-color: white;
  color: black;
  display: none;
  flex-direction: column;
  line-height: 2.5rem;
  margin-left: -18px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
  position: absolute;
  text-align: left;
  z-index: 0;
  margin-top: 5px;
}

.menu--item:hover .menu--secondary {
  color: black;
  display: flex;
}

.menu--secondary:hover {
  color: var(--color-orange);
}

.menu--item-secondary {
  border-bottom: 1px solid #00000025;
}

.menu--item-secondary:hover {
  color: var(--color-orange);
}

.menu--item-secondary:first-child {
  /* padding-top: 10px; */
}

.logo {
  padding: 15px 40px;
}

.button {
  background-color: white;
  border: 2px var(--color-orange) solid;
  border-radius: 0px 30px 30px 30px;
  color: black;
  font-size: 1rem;
  line-height: normal;
  margin-left: var(--padding-or-margin);
  padding: 10px 17px;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--color-orange);
  border: 2px var(--color-orange) solid;
  color: white;
}

.button--cta {
  background-color: var(--color-orange);
  color: white;
  font-size: 1.1rem;
  height: 55px;
  padding: 12px 22px;
  text-transform: uppercase;
}
.button--cta:hover {
  background-color: white;
  border: 2px var(--color-orange) solid;
  color: var(--color-orange);
}

/* main */
.wrapper {
  padding: 70px 60px;
}

.wrapper--header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper--h1 {
  font-size: 4rem;
  font-weight: 800;
}

.wrapper--p {
  color: var(--color-orange);
  font-size: 1.2rem;
  text-transform: uppercase;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* TODO: Improve responsive behaviour */
.container--card {
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
  min-width: 30%;
  text-align: center;
}

.container--card--toys {
  background-image: url(./images/01.jpg);
}
.container--card--rest {
  background-image: url(./images/02.jpg);
}
.container--card--walks {
  background-image: url(./images/03.jpg);
}

.container--card .container--card-texts {
  visibility: hidden;
}
.container--card:hover .container--card-texts {
  visibility: visible;
}

.container--card-h2 {
  font-size: 1.6rem;
  font-weight: 800;
  padding-top: 8px;
}

.container--card-p {
  padding-bottom: 8px;
  text-transform: uppercase;
}

.menu--icon {
  visibility: hidden;
  font-size: 2em;
}

.menu--icon:hover {
  color: var(--color-orange);
  font-size: 2em;
}

@media screen and (max-width: 700px) {
  .wrapper--h1 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .menu {
    visibility: hidden;
  }

  .button--cta {
    padding: 12px 20px;
    /* font-size: 1rem; */
    margin: var(--padding-or-margin);
  }

  .menu--item {
    display: none;
  }

  .menu--icon {
    visibility: visible;
  }

  .wrapper--h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .wrapper--header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    justify-content: center;
  }

  .container--card {
    height: 500px;
    margin-top: var(--padding-or-margin);
    /* padding-top: 20px; */
    width: 400px;
  }
  .container--card:first-child {
    margin-top: 0%;
  }
}
